# credentials
.envrc*
!*.example

# packer credentials
packer/variables.json

# terraform credentials and variables
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
*.lock.info

# providers for terraform
providers.tf

# ansible tmp files
*.retry

# community roles
jdauphant.nginx

# Vagrant + molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
